
    body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background: #e74c3c !important;*/
    /* background-image: url("https://images.unsplash.com/photo-1487925876428-ebd8a23ee1d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"); */
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    border:1px solid coral;
     box-shadow:0 0 5px coral;
    }

    .search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    caret-color:transparent;
    line-height: 40px;
    padding: 0 10px;
    width: 500px;
    caret-color:red;
    }


    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:coral;
    }

    .category {
        margin-right: 10px;
    }

    em{
    font-weight: bold;
    }

    .logo{
        margin-right: 20px;
        font-size: 40px;
        color: lime;
        background: transparent;
        font-family: serif;
        /* top: 391px;
        left: 436px;
        position: relative; */
        width: fit-content;
    }

    .capital {
        color: orangered;
    }